* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid white;
}

body {
    font-size: 62.5%;
    font-family: 'inter';

    background-image: url(../Assets/images/Group\ 9.png);
    background-color: var(--bg-black);
    color: var(--color-white);
}

header {
    width: 902px;
    height: 1080px;
    margin-bottom: 86px;
    background-image: url(../Assets/images/imag.png);
}

header div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

header div .head_img {
    width: 908px;
    height: 1080px;

}

header .nav {
    width: 100%;
    padding: 50px 102px;
}

header div ul {
    width: 100%;
}

header div ul li img {
    width: 197px;
    height: 83.8px;
}

header div ul li ul {
    gap: 57px;
}

header div ul li ul li {
    font-size: 20px;
    font-weight: 700;
    font-family: 'montserrat';
}

header div ul li ul li a {
    text-decoration: none;
    color: var(--color-white);
}

/* header ended */


/* solid started */
.solid {
    width: 1245px;
    height: 714px;
    border-radius: 43px 0px 0px 43px;
    background-color: var(--bg-brown);
    background-image: url(../Assets/images/Group\ 9.png);

    position: absolute;
    top: 218px;
    right: 0px;

}

.solid .wood {
    width: 1245px;
    height: 714px;
    padding: 50px;

}

.solid .wood .parent_solid_1 {
    height: 100%;
}

.solid .wood div h1 {
    font-size: 90px;
    font-weight: 500;
    font-family: 'kiyv';
    margin-bottom: 22px;
}

.solid .wood div p {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 58px;
}

.solid .wood div button {
    width: 225px;
    height: 58px;
    border-radius: 42px;
    background-color: #728BAD;
    color: var(--color-white);
    font-size: 30px;
    font-weight: 700;
    border-style: none;
}

.solid .wood .center_div {
    height: 512px;
    border: 1px solid var(--color-white);
    box-shadow: 0px 4px 52px 0px #F5F5F52B;
}

.solid .wood .wood-img {
    width: 50%;
    height: 100%;
}

.solid .wood .wood-img img {
    width: 205px;
    height: 205px;
    border-radius: 48px;

}

.solid .wood .wood-img .wood-img-child {

    position: relative;
    top: 65px;
}

/* solid ended */


/* container 2 started */
.container_2 {
    margin-bottom: 108px;
    width: 100%;
    padding: 126px;
    gap: 130px;
}

.container_2 .parent_1 {

    width: 100%;

    position: relative;
    left: 117px;
}

.container_2 .parent_1 h1 {
    font-size: 90px;
    font-weight: 500;
    font-family: 'kyiv';
    text-transform: uppercase;

}

.container_2 .parent_2 {
    width: 100%;
}

.container_2 .parent_2 .child .grand_child_1 img {

    width: 205px;
    height: 205px;
    border-radius: 42px;
    margin-bottom: 39px;
}

.container_2 .parent_2 .child .grand_child_1 h1 {

    font-size: 30px;
    font-weight: 700;
}

.container_2 .parent_2 .child .grand_child_1 {

    width: 100%;
    padding-right: 65px;
    margin-bottom: 38px;
}

.container_2 .parent_2 .child .grand_child_2 .durability img {

    width: 24.69;
    height: 24.23;
    margin-top: 12px;
}

.container_2 .parent_2 .child .grand_child_2 .durability p {

    font-size: 30px;
    font-weight: 500;
    margin-bottom: 24px;
}

/* container 2 ended */


/* container 3 started */
.container_3 {
    gap: 121px;
    width: 100%;
    padding: 0px 40px;
    margin-bottom: 178px;
}

.container_3 .parent_1 {

    width: 100%;
}

.container_3 .parent_1 h1 {
    font-size: 90px;
    font-weight: 500;
    font-family: 'kyiv';
    padding-left: 198px;

}

.container_3 .parent_2 {
    width: 100%;
    gap: 26px;
}

.container_3 .parent_2 .chicken_images {
    width: 100%;
}

.container_3 .parent_2 .chicken_images .main_chicken {

    width: 1130px;
    height: 754px;
    border-radius: 42px;

}

.container_3 .parent_2 .chicken_images .arrows {
    width: 100px;
    height: 100px;

}

.container_3 .parent_2 .points_chicken {

    width: 114px;
    height: 26px;
}

/* container 3 ended */


/* container 4 started */
.container_4 {
    gap: 121px;
    width: 100%;
    padding: 0px 101px;
    margin-bottom: 294px;
}

.container_4 .parent_1 {

    width: 100%;
    gap: 132px;
}

.container_4 .parent_1 h1 {
    font-size: 90px;
    font-weight: 500;
    font-family: 'kyiv';
    padding-left: 137px;

}

.container_4 .parent_2 {
    gap: 121px;
}

.container_4 .parent_2 .child_1 {
    width: 100%;
    gap: 126px;
}

.container_4 .parent_2 .child_1 .grand_child_1 {

    width: 609px;
    height: 386px;
    border-radius: 42px;
}

.container_4 .parent_2 .child_1 .grand_child_2 {

    width: 453px;
    height: 386px;
}

.container_4 .parent_2 .child_1 .grand_child_2 .para_1 p {

    font-size: 30px;
    font-weight: 500;
}

.container_4 .parent_2 .child_2 {

    width: 472px;
    height: 58px;
    border-radius: 42px;
    margin-bottom: 11px;
    background-color: var(--bg-blue);
    color: var(--color-white);
    text-align: center;
}

.container_4 .parent_2 .child_2 h1 {

    padding-top: 10px;
    font-size: 30px;
    font-weight: 700;
}

/* container 4 ended */


/* container 5 started */

.container_5 {

    gap: 62px;
    width: 1325px;
    height: 775px;
    margin-bottom: 192px;
    padding: 31px 30px;
    padding-left: 190px;
    border-radius: 0px 42px 42px 0px;
    box-shadow: 0px 4px 52px 0px #F5F5F52B;

    background-color: var(--bg-brown);
    background-image: url(../Assets/images/Group\ 9.png);
}

.container_5 .parent_1 {

    width: 501px;
}

.container_5 .parent_1 h1 {

    font-size: 90px;
    font-weight: 500;
    font-family: kyiv;
    margin-bottom: 67px;
}

.container_5 .parent_1 p {

    font-size: 30px;
    font-weight: 500;
}

.container_5 .parent_2 {
    width: 424px;
    /* height: ; */
    gap: 0;
}

.container_5 .parent_2 .up_down_img {

    width: 205px;
    height: 205px;
    border-radius: 42px;
}


.container_5 .parent_2 .center_img {

    width: 350px;
    height: 347px;
    border-radius: 42px;

    position: relative;
    top: -105px;
    right: 74px;
}


.container_5 .parent_2 .end_img {


    position: relative;
    bottom: 85px;
    right: 35px;
}

/* container 5 ended */


/* container 6 started */
.container_6 {
    width: 100%;
    padding: 0px 41px;
}

.container_6 .parent_1 {

    width: 100%;
    padding-right: 22px;
    margin-bottom: 45px;
}

.container_6 .parent_1 h1 {
    font-family: 'kyiv';
    font-size: 90px;
    font-weight: 500;
}

.container_6 .parent_2 {

    gap: 64px;
}

.container_6 .parent_2 .child_1 {

    width: 598px;
    height: 555px;
    left: 102px;

}

.container_6 .parent_2 .child_1 #input {

    width: 598px;
    height: 77px;
    top: 100px;
    border-radius: 42px;
    color: rgb(197, 197, 197);
    background-color: transparent;
    border: 4px solid #728BAD;
    padding: 16px;
    font-weight: 500;
    font-size: 30px;
}

.container_6 .parent_2 .child_1 textarea {

    width: 598px;
    height: 257px;
    border-radius: 42px;
    top: 100px;
    background-color: transparent;
    border: 4px solid #728BAD;
    padding: 16px;
    font-weight: 500;
    font-size: 30px;

}

.container_6 .parent_2 .child_1 button {

    width: 216px;
    height: 58px;
    top: 497px;
    border-radius: 42px;
    padding-top: 11px;
    padding-right: 70px;
    padding-bottom: 11px;
    padding-left: 70px;
    gap: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: var(--bg-blue);
    color: var(--color-white);
    border-style: none;

}

.container_6 .parent_2 .child_2 {

    width: 546px;
    height: 606px;
    gap: 116px;
}

.container_6 .parent_2 .child_2 p {

    font-weight: 500;
    font-size: 30px;
}

.container_6 .parent_2 .child_2 .woood {

    width: 477px;
    height: 482px;
    transform: rotate(45deg);
}

.container_6 .parent_2 .child_2 .woood img {

    width: 100%;
    height: 100%;

}

/* container 6 ended */





@media (max-width: 1340px) {

    /* container 3 started */
    .container_3 {
        gap: 101px;
        width: 100%;
        padding: 0px 30px;
        margin-bottom: 278px;
    }

    .container_3 .parent_1 h1 {
        font-size: 70px;
        padding-left: 0px !important;

    }

    .container_3 .parent_2 {

        gap: 20px;
    }

    .container_3 .parent_2 .chicken_images .main_chicken {

        width: 80%;
        height: 730px;
        border-radius: 36px;

    }

    .container_3 .parent_2 .chicken_images .arrows {
        width: 10%;
        height: 80px;

    }


    .container_3 .parent_2 .points_chicken img {

        width: 100px;
        height: 22px;
    }

    /* container 3 ended */


    /* container 5 started */

    .container_5 {

        gap: 82px;
        width: 90%;
        height: 1905px;
        margin-bottom: 192px;
        padding-left: 0px;
        padding: 70px 70px;
        border-radius: 0px 42px 42px 0px;
        box-shadow: 0px 4px 52px 0px #F5F5F52B;

        background-color: var(--bg-brown);
        background-image: url(../Assets/images/Group\ 9.png);
    }

    .container_5 .parent_1 {

        width: 100%;
        margin: 0 auto;
    }

    .container_5 .parent_1 h1 {

        width: 70%;
        font-size: 80px;
        font-weight: 500;
        font-family: kyiv;
        margin-bottom: 67px;
    }

    .container_5 .parent_1 p {

        width: 70%;
        font-size: 26px;
        font-weight: 500;
    }

    .container_5 .parent_2 {
        width: 100%;

        margin: 0 auto;
    }

    .container_5 .parent_2 .up_down_img {

        width: 385px;
        height: 385px;
        border-radius: 42px;
    }

    .container_5 .parent_2 .up_down_img img {

        width: 100%;
        height: 100%;
    }


    .container_5 .parent_2 .center_img {

        width: 550px;
        height: 547px;
        border-radius: 42px;

        position: relative;
        top: -105px;
        right: 74px;
    }

    .container_5 .parent_2 .center_img img {

        width: 100%;
        height: 100%;

    }


    .container_5 .parent_2 .end_img {


        position: relative;
        bottom: 85px;
        right: 35px;
    }

    /* container 5 ended */


}


@media (max-width: 1260px) {

    /* header started */
    header {
        width: 902px;
        height: 1080px;
        margin-bottom: 266px;
        background-image: url(../Assets/images/imag.png);
    }

    .nav_value {
        display: none;
    }

    header ul li .menu {
        display: block !important;
        color: var(--color-white);
        width: 55px;
        height: 30px;
    }

    /* header ended */


    /* solid started */
    .solid {
        width: 850px;
        height: 700px;
        border-radius: 43px 0px 0px 43px;

    }

    .solid .wood {
        width: 850px;
        height: 700px;

    }

    .solid .wood div h1 {
        font-size: 62px;
        margin-bottom: 22px;
    }

    .solid .wood div p {
        font-size: 26px;
        margin-bottom: 54px;
        font-weight: 400;
    }

    .solid .wood div button {
        width: 200px;
        height: 52px;
        border-radius: 38px;
        font-size: 26px;
        font-weight: 600;
    }

    .solid .wood .center_div {
        height: 410px;
    }

    .solid .wood .wood-img {
        width: 50%;
        height: 90%;
    }

    .solid .wood .wood-img img {
        width: 160px;
        height: 160px;
        border-radius: 44px;
    }

    .solid .wood .wood-img .wood-img-child {
        position: relative;
        top: 45px;
    }

    /* solid ended */


    /* container 2 started */
    .container_2 {
        gap: 100px;
        padding: 96px;
        margin-bottom: 228px;
    }

    .container_2 .parent_1 {

        position: relative;
        left: 90px;
    }

    .container_2 .parent_1 h1 {

        font-size: 65px;
    }

    .container_2 .parent_2 .child .grand_child_1 {

        margin-bottom: 86px;
    }

    .container_2 .parent_2 .child .grand_child_1 img {

        width: 180px;
        height: 180px;
        border-radius: 38px;
        margin-bottom: 32px;
    }

    .container_2 .parent_2 .child .grand_child_1 h1 {

        font-size: 26px;
        font-weight: 600;
    }

    .container_2 .parent_2 .child .grand_child_2 .durability img {

        width: 22.69;
        height: 22.23;
        margin-top: 10px;
    }

    .container_2 .parent_2 .child .grand_child_2 .durability p {

        font-size: 26px;
        margin-bottom: 20px;
    }

    /* container 2 ended */


    /* container 4 started */
    .container_4 {
        gap: 101px;
        width: 100%;
        padding: 0px 80px;
        margin-bottom: 294px;
    }

    .container_4 .parent_1 {

        width: 100%;
        gap: 132px;
    }

    .container_4 .parent_1 h1 {
        width: 100%;
        font-size: 50px;
        font-weight: 500;
        font-family: 'kyiv';
        padding-left: 30px;

    }

    .container_4 .parent_2 {
        width: 100%;
        gap: 121px;
    }

    .container_4 .parent_2 .child_1 {
        display: none !important;
    }

    .container_4 .parent_2 .container_4special {
        display: inline !important;
        width: 100%;
        gap: 126px;
    }

    .container_4 .parent_2 .container_4special {

        width: 100%;
        gap: 326px;
    }

    .container_4 .parent_2 .container_4special .grand_child_1 {

        width: 100%;
        /* height: 386px; */
        border-radius: 42px;
    }

    .container_4 .parent_2 .container_4special .grand_child_1 img {

        width: 100%;
        height: 100%;
        border-radius: 42px;
    }

    .container_4 .parent_2 .container_4special .grand_child_2 {

        width: 70%;
        padding: 20px;
        margin-bottom: 120px;
        gap: 50px;
    }

    .container_4 .parent_2 .container_4special .grand_child_2 .para_1 p {

        font-size: 30px;
    }

    .container_4 .parent_2 .child_2 {

        width: 472px;
        height: 58px;
        border-radius: 42px;
        margin-bottom: 11px;
        background-color: var(--bg-blue);
        color: var(--color-white);
        text-align: center;
    }

    .container_4 .parent_2 .child_2 h1 {

        padding-top: 10px;
        font-size: 30px;
        font-weight: 700;
    }

    /* container 4 ended */


    /* container 6 started */
    .container_6 {
        width: 100%;
        padding: 0px 41px;
    }

    .container_6 .parent_1 {

        width: 100%;
        padding-right: 22px;
        margin-bottom: 45px;
    }

    .container_6 .parent_1 h1 {
        font-family: 'kyiv';
        font-size: 90px;
        font-weight: 500;
    }

    .container_6 .parent_2 {

        gap: 64px;
    }

    .container_6 .parent_2 .child_1 {

        width: 598px;
        height: 555px;
        left: 102px;

    }

    .container_6 .parent_2 .child_1 #input {

        width: 598px;
        height: 77px;
        top: 100px;
        border-radius: 42px;
        color: rgb(197, 197, 197);
        background-color: transparent;
        border: 4px solid #728BAD;
        padding: 16px;
        font-weight: 500;
        font-size: 30px;
    }

    .container_6 .parent_2 .child_1 textarea {

        width: 598px;
        height: 257px;
        border-radius: 42px;
        top: 100px;
        background-color: transparent;
        border: 4px solid #728BAD;
        padding: 16px;
        font-weight: 500;
        font-size: 30px;

    }

    .container_6 .parent_2 .child_1 button {

        width: 216px;
        height: 58px;
        top: 497px;
        border-radius: 42px;
        padding-top: 11px;
        padding-right: 70px;
        padding-bottom: 11px;
        padding-left: 70px;
        gap: 10px;
        font-weight: 700;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        background-color: var(--bg-blue);
        color: var(--color-white);
        border-style: none;

    }

    .container_6 .parent_2 .child_2 {

        width: 546px;
        height: 606px;
        gap: 116px;
    }

    .container_6 .parent_2 .child_2 p {

        font-weight: 500;
        font-size: 30px;
    }

    .container_6 .parent_2 .child_2 .woood {

        width: 477px;
        height: 482px;
        transform: rotate(45deg);
    }

    .container_6 .parent_2 .child_2 .woood img {

        width: 100%;
        height: 100%;

    }



    /* container 6 ended */
}


@media (max-width: 1024px) {


    /* container 2 started */
    .container_2 {
        gap: 100px;
        padding: 56px;
        margin-bottom: 108px;
    }

    .container_2 .parent_1 {

        position: relative;
        left: 0px;
    }

    .container_2 .parent_1 h1 {

        font-size: 45px;
    }

    .container_2 .parent_2 .child .grand_child_1 {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 38px;
    }

    .container_2 .parent_2 .child .grand_child_1 img {

        width: 120px;
        height: 120px;
        border-radius: 24px;
        margin-bottom: 24px;
    }

    .container_2 .parent_2 .child .grand_child_2 .durability img {

        width: 16.69;
        height: 16.23;
        margin-top: 10px;
    }

    .container_2 .parent_2 .child .grand_child_2 .durability p {

        font-size: 22px;
        margin-bottom: 10px;
    }

    .Beautiful_texture {
        display: none;
    }

    .Beautiful {
        display: block !important;
    }

    .specail_box {
        padding-top: 90px;
    }

    /* container 2 ended */

    /* container 3 started */
    .container_3 {
        gap: 85px;
        padding: 0px 25px;
        margin-bottom: 148px;
    }

    .container_3 .parent_1 h1 {
        font-size: 60px;
        padding-left: 0px;

    }

    .container_3 .parent_2 {

        gap: 18px;
    }

    .container_3 .parent_2 .chicken_images .main_chicken {

        width: 900px;
        height: 824px;
        border-radius: 30px;
    }

    .container_3 .parent_2 .chicken_images .arrows {
        width: 40px;
        height: 40px;

    }

    .container_3 .parent_2 .points_chicken {

        width: 84px;
        height: 18px;
    }

    /* container 3 ended */


}


@media (max-width: 425px) {


    /* container 2 started */
    .container_2 {
        margin-bottom: 190px;
        width: 100%;
        padding: 19px;
        gap: 900px;
    }

    .container_2 .parent_1 {

        position: relative;
        left: 0px;
    }

    .container_2 .parent_1 h1 {

        font-size: 30px;
    }

    /* .container_2 .parent_2{
    width: 100%;
} */

    .container_2 .parent_2 .child .grand_child_1 {

        width: 100%;
        padding-right: 0px;
        margin-bottom: 16px;
    }

    .container_2 .parent_2 .child .grand_child_1 img {

        width: 90px;
        height: 90px;
        border-radius: 14px;
        margin-bottom: 16px;
    }


    .container_2 .parent_2 .child .grand_child_1 h1 {

        font-size: 20px;
    }

    .container_2 .parent_2 .child .grand_child_2 .durability img {

        width: 13px;
        height: 13px;
        margin-top: 12px;
    }

    .container_2 .parent_2 .child .grand_child_2 .durability p {

        font-size: 15px;
        font-weight: 500;
        margin-bottom: 9px;
    }

    .specail_box {
        padding-top: 60px;
    }

    /* container 2 ended */


    /* container 3 started */
    .container_3 {
        gap: 46px;
        width: 100%;
        padding: 0px 19px;
        margin-bottom: 178px;
    }

    .container_3 .parent_1 h1 {
        font-size: 30px;
        padding-left: 0px;

    }


    .container_3 .parent_2 {

        gap: 14.9;
    }

    .container_3 .parent_2 .chicken_images .main_chicken {

        width: 301.08px;
        height: 200.8px;
        border-radius: 14px;


    }

    .container_3 .parent_2 .chicken_images .arrows {
        width: 13px;
        height: 13px;
        border-width: 2px;

    }

    .container_3 .parent_2 .points_chicken {

        width: 58px;
        height: 13px;
        border-width: 2px;
    }

    /* container 3 ended */



    /* container 4 started */
    .container_4 {
        gap: 46px;
        width: 100%;
        padding: 0px 11px;
        margin-bottom: 93px;
    }

    .container_4 .parent_1 {

        width: 100%;
        gap: 46px;
    }

    .container_4 .parent_1 h1 {
        width: 100%;
        font-size: 30px;
        font-weight: 500;
        font-family: 'kyiv';
        padding-left: 8px;

    }

    .container_4 .parent_2 {
        width: 100%;
        gap: 46px;
    }

    .container_4 .parent_2 .child_1 {
        display: none !important;
    }

    .container_4 .parent_2 .container_4special {
        display: inline !important;
        width: 100%;
        gap: 46px;
    }

    .container_4 .parent_2 .container_4special .grand_child_1 {

        width: 100%;
        /* height: 386px; */
        border-radius: 42px;
    }

    .container_4 .parent_2 .container_4special .grand_child_1 img {

        width: 100%;
        height: 100%;
        border-radius: 14px;
    }

    .container_4 .parent_2 .container_4special .grand_child_2 {

        width: 70%;
        padding: 6px;
        margin-bottom: 46px;
    }

    .container_4 .parent_2 .container_4special .grand_child_2 .para_1 p {

        font-size: 15px;
    }

    .container_4 .parent_2 .child_2 {

        width: 219px;
        height: 33px;
        border-radius: 42px;
        margin-bottom: 0px;
        background-color: var(--bg-blue);
        color: var(--color-white);
        text-align: center;
    }



    .container_4 .parent_2 .child_2 h1 {

        padding-top: 10px;
        font-size: 15px;
        font-weight: 700;
    }

    /* container 4 ended */


    /* container 5 started */

    .container_5 {

        gap: 82px;
        width: 90%;
        height: 674px;
        margin-bottom: 192px;
        padding-left: 0px;
        padding: 47px 26px;
        border-radius: 0px 42px 42px 0px;
        box-shadow: 0px 4px 52px 0px #F5F5F52B;


        background-color: var(--bg-brown);
        background-image: url(../Assets/images/Group\ 9.png);
    }

    .container_5 .parent_1 {

        width: 100%;
        margin: 0 auto;
    }

    .container_5 .parent_1 h1 {
        width: 167px;
        font-size: 30px;
        font-weight: 500;
        font-family: kyiv;
        margin-bottom: 38.3px;
    }

    .container_5 .parent_1 p {

        width: 283px;
        font-size: 15px;
        font-weight: 500;
    }

    .container_5 .parent_2 {
        width: 100%;
        /* height: ; */
        margin: 0 auto;
    }

    .container_5 .parent_2 .up_down_img {

        width: 111px;
        height: 112px;
        border-radius: 14px;
    }


    .container_5 .parent_2 .center_img {

        width: 190px;
        height: 189px;
        border-radius: 14px;

        position: relative;
        top: -105px;
        right: 74px;
    }


    .container_5 .parent_2 .end_img {


        position: relative;
        bottom: 85px;
        right: 35px;
    }

    /* container 5 ended */
}